#left-admin

  %h3 Admin Controls
    
  %ul
  
    %li= link_to("Manage Semester", "/admin/semester")
    %li= link_to("Manage Student Teams", "/admin/student_teams")
    %li= link_to("Manage Instructors", "/admin/instructors")
    %li= link_to("Manage Rubric", "/admin/rubric")