%div#settings
  - if @current_user
    - if @current_user.is_a?(StudentTeam)
      =link_to("[Profile Page]", student_team_path(@current_user))
      =link_to("[Logout]", logout_path)
    - elsif @current_user.is_a?(Instructor)
      =link_to("[Profile Page]", instructor_path(@current_user))
      =link_to("[Logout]", logout_path)
  - else
    =link_to("[Login]", login_path)
%div#sidebar
  =image_tag(asset_path("logo_no_image_noalpha.png"), :id => 'logo')
  =link_to("Project List", projects_path, :id => 'plist', :class => 'panelbutton')
  =link_to("Student List", student_teams_path, :id => 'slist', :class => 'panelbutton')
  - if @current_user and @current_user.is_a?(Instructor)
    =link_to("Comment List", "/comments", :id => "clist", :class => 'panelbutton')