%h1 List of Projects

%p=link_to("Add Project", new_project_path)

%table#projects
  %thead
    %tr
      %th Project Name
      %th Project Content
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title
        %td= project.content