=render :partial => 'common2/common2'

.content
  %h1 List of Projects

  =link_to("Add Project", new_project_path)

  %table#projects
    %thead
      %tr
        %th Project Name
        %th Project Content
    %tbody
      - @projects.each do |project|
        %tr
          %td= project.title
          %td= project.content