#container

  =render partial: "main/sidebar"

  =render partial: "main/settings_login"
  
  #content.student_teams
    %h1 List of Student Teams

    %table
      %thead
        %tr
          %th Student Team Name
          %th Student Team Project
      %tbody
        - @student_teams.each_with_index do |team, i|
          %tr
            %td
              =link_to(team.name, student_team_path(team))
            %td= @projects[i].title
