=render :partial => 'common2/common2'

#student_teams.content
  %h1 List of Student Teams

  %table
    %thead
      %tr
        %th Student Team Name
        %th Student Team E-mail
    %tbody
      - @student_teams.each do |team|
        %tr
          %td= team.name
          %td= team.email
          
/
  make sortable?