= "Name: #{@student_team.name}"
%br
="Email: #{@student_team.email}" 
%h2 Iterations
- @iterations.each do |iteration|
  .iteration
    %h3=iteration.iteration_string
    %p
    %strong Date: 
    ="#{iteration.created_at_string}"
    %p
    %strong User Stories:
    %br
    =iteration.user_stories
    %p
    %strong Comments:
    %br
    =iteration.comments
    