/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
// Place all the styles related to the student_teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    margin: 0;
    padding: 0;
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
	min-height: 100%;
}

div#header {
    
    font-family: 'Lora';
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: #006a80;
    padding: 0.5em 0.5em 0.5em 0.5em; 
    margin: 0;
    
    a:link, a:visited {
        color: white;
        text-decoration: none;
    }
     
    a:hover {
        color: white;
        text-decoration: none;
    }
    
}

div#login-settings {
    margin: 24px;
    
    border-top: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid rgb(172, 172, 172);
    
    font-weight: regular;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: rgb(127, 127, 127);
    
    width: auto;
    text-align: right;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;

    a:link, a:visited, a:hover {
        color: #a0a8c8;
        font-size: 1em;
        text-decoration: none;
    }
     
    a:hover {
        text-decoration: underline;
    }
}

div#content {
    margin: 0 24px;
    //border: 1px blue;
}

div#container {
    position: absolute;
    //border: 1px solid blue;
    //width: 100%;
    margin: 0 128px;
    width: calc(100% - 256px);
    //min-height: 100%; 
}

div#profile-left {
    
    float: left;
    width: 200px;
    //border: 1px solid red;
    margin-left: 24px;
    
    font-family: 'Verdana';
    
    h3 {
        font-size: 0.8em;
        list-style: none;
        padding: 2px 0;
        text-transform: uppercase;
    }
    
    ul {
        padding: 0;
    }
    
    li {
        list-style: none;
        padding: 2px 0;
        font-size: 12px;
    }
    
    a:link, a:visited, a:hover {
        font-family: 'Courier New';
        color: #006a80;
        font-size: 1em;
        text-decoration: none;
    }
    
    a:hover {
        color: rgb(187, 0, 28);
    }
}

div#profile-right {
    
    float: left;
    width: calc(100% - 248px);
    //border: 1px solid green;
    
    font-family: 'Verdana';
    font-size: 12px;
    
    h2 {
        font-family: 'Lora';
        font-size: 24px;
        font-weight: normal;
        padding-bottom: 0.25em;
        border-bottom: 1px solid rgb(192, 192, 192);
    }
    
    table {
        border: none;
        border-collapse: collapse;
        
        th, td {
            max-width: 128px;
            padding-right: 8px;
            word-wrap: break-word;
        }
        
        td {
            border: none;
        }
        
        th {
            text-align: left;
            border: none;
        }
    }
    
    label {
        font-size: 0.8em;
        font-weight: bold;
        list-style: none;
        padding: 4px 0;
        margin: 4px 0;
        text-transform: uppercase;
    }
    
    input[type=number] {
        width: 64px;
    }
    
    input[type=text] {
        width: 320px;
    }
    
    a:link, a:visited, a:hover {
        font-family: 'Courier New';
        color: #006a80;
        font-size: 1em;
        text-decoration: none;
    }
    
    a:hover {
        color: rgb(187, 0, 28);
    }
    
    textarea {
        width: 320px;
        height: 96px;
    }
    
    margin-bottom: 32px;
    
}

.bigtable {
    //font-family: 'times new roman';
    color: black;
    h1 {
        margin-left: 24px;
        font-family: "HelveticaNeue-Light", tahoma, sans-serif;
        //font-weight: normal;
    }
    
    table {
        border: none;
        border-collapse: collapse;
        width: calc(100% - 48px);
        margin-left: 24px;
        
        th, td {
            font-family: tahoma, helvetica, sans-serif;
            word-wrap: break-word;
        }
        
        td {
            border: none;
        }
        
        th {
            text-align: left;
            border: none;
        }
    }
    
    tbody {
        tr:nth-of-type(odd) {
          background-color: rgba(200, 230, 250, 1.0);
        }
    }
}

/*
#content.student_teams {
    //font-family: 'times new roman';
    color: #000000;
    h1 {
        margin-left: 10%;
    }
    
    table {
        border: none;
        border-collapse: collapse;
        width: 80%;
        margin-left: 10%;
        
        td {
            border: none;
        }
        
        th {
            text-align: left;
            border: none;
        }
    }
    
    tbody {
        tr:nth-of-type(odd) {
          background-color: rgba(200, 230, 250, 1.0);
        }
    }
}*/
/*
#container.profile {
    margin: 0 128px; 
    //width: calc(100% - 200px);
    //border: 1px solid blue;
}

#login-settings.profile {
    margin: 24px 0;
}*/
/*div#sidebar {
    
    position:absolute;
    width: 220px;
    height: 100%;
    overflow: hidden;
    background-color: #3e4146;
    
    font-family: 'Courier New', monospace;
    font-size: 24px;
    text-align: right;
    
    #heading {
        font-size: 24px;
        text-align: center;
    }
    
    .panelbutton {
          background-color: #ffffff;
          background: -webkit-linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), -webkit-linear-gradient(top, #c6e2ff, #bada55);
          background: -moz-linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), -moz-linear-gradient(top, #c6e2ff, #bada55);
          background: -o-linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), -o-linear-gradient(top, #c6e2ff, #bada55);
          background: -ms-linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), -ms-linear-gradient(top, #c6e2ff, #bada55);
          background: linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), linear-gradient(top, #c6e2ff, #bada55);
          
          border-top-left-radius: 14px 50%;
          border-bottom-left-radius: 14px 50%;
          -webkit-border-top-left-radius: 14px 50%;
          -webkit-border-bottom-left-radius: 14px 50%;
          -moz-border-radius-topleft: 14px 50%;
          -moz-border-radius-bottomleft: 14px 50%;
          
          box-shadow: 0px 6px 0px #20383f;
          -webkit-box-shadow: 0px 6px 0px #20383f;
          -moz-box-shadow: 0px 6px 0px #20383f;
          
          //text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
          
          float: right;
          width: 180px;
          padding-right: 1em;
          padding-top: 0.2em;
          padding-bottom: 0.2em;
          margin-top: 20px;
          color: #888888;
     }
     
     //separate the three later
     a:link, a:visited {
          text-decoration: none;
     }
     
     a:hover {
          text-decoration: none;
          background: -webkit-linear-gradient(top, #c6e2ff, #bada55);
          background: -moz-linear-gradient(top, #c6e2ff, #bada55);
          background: -o-linear-gradient(top, #c6e2ff, #bada55);
          background: -ms-linear-gradient(top, #c6e2ff, #bada55);
          background: linear-gradient(top, #c6e2ff, #bada55);
     }
    
}*/