// Place all the styles related to the common2 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*TODO: apparently padding and width interaction varies from browser to browser,
need to check if browsers conform to standards, otherwise force a standard.
example link: http://stackoverflow.com/questions/4698054/css-does-the-width-include-the-padding
*/

/*may possibly want to upload font files locally instead of using web to make
sure it works in case can't connect to servers presumably located in JP*/

/* for the logout/profile buttons, still debating whether or not to make it fixed position
or sit in top right corner*/

/* MARGIN COLLAPSING WITH (default) POSITION STATIC (and relative) THANKS CSS
read margin collapsing later, use absolute position for now*/

#sidebar {
     background-color: #3e4146;
     
     font-family: 'magic', 'Courier New', monospace;
     font-size: 24px;

     width: 220px;
     min-height: 100%;
     
     margin: 0px;
     position: fixed;
     
     text-align: right;
     //padding-top: 40px;
     //border: 1px solid black;
     
     box-shadow: 1px 0px 0px #909090;
     -webkit-box-shadow: 1px 0px 0px #909090;
     -moz-box-shadow: 1px 0px 0px #909090;
          
     //testing out with some pretty eye-cancer colors for now, change later
     .panelbutton {
          background-color: #ffffff;
          background: -webkit-linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), -webkit-linear-gradient(top, #c6e2ff, #bada55);
          background: -moz-linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), -moz-linear-gradient(top, #c6e2ff, #bada55);
          background: -o-linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), -o-linear-gradient(top, #c6e2ff, #bada55);
          background: -ms-linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), -ms-linear-gradient(top, #c6e2ff, #bada55);
          background: linear-gradient(left, rgba(186, 218, 238, 0.1), rgba(56, 59, 64, 0.2)), linear-gradient(top, #c6e2ff, #bada55);
          
          border-top-left-radius: 14px 50%;
          border-bottom-left-radius: 14px 50%;
          -webkit-border-top-left-radius: 14px 50%;
          -webkit-border-bottom-left-radius: 14px 50%;
          -moz-border-radius-topleft: 14px 50%;
          -moz-border-radius-bottomleft: 14px 50%;
          
          box-shadow: 0px 6px 0px #20383f;
          -webkit-box-shadow: 0px 6px 0px #20383f;
          -moz-box-shadow: 0px 6px 0px #20383f;
          
          //text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
          
          float: right;
          width: 180px;
          padding-right: 1em;
          padding-top: 0.2em;
          padding-bottom: 0.2em;
          margin-top: 20px;
          color: #888888;
     }
     
     //separate the three later
     a:link, a:visited {
          text-decoration: none;
     }
     
     a:hover {
          text-decoration: none;
          background: -webkit-linear-gradient(top, #c6e2ff, #bada55);
          background: -moz-linear-gradient(top, #c6e2ff, #bada55);
          background: -o-linear-gradient(top, #c6e2ff, #bada55);
          background: -ms-linear-gradient(top, #c6e2ff, #bada55);
          background: linear-gradient(top, #c6e2ff, #bada55);
     }
     
     #logo {
          margin: 10px;
     }
}

#settings {
     //background-color: #c6e2ff;
     //margin-left: 0px;
     float: right;
     font-weight: regular;
     
     font-family: 'Courier New', Courier, monospace;
     font-size: 12px;
     
     width: auto;
     text-align: right;
     padding-top: 1em;
     padding-right: 1em;
     //position: fixed;
     //border: 1px solid black;
     
     //separate the three later
     a:link, a:visited, a:hover {
          color: #c0c8e8;
          text-decoration: none;
     }
}

.content {
     position: absolute;
     top: 40px;
     left: 220px;
     margin-left: 1px;
     right: 0px;
     //border: 1px solid black;
}