// Place all the styles related to the student_teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
     position: absolute;
     top: 40px;
     left: 260px;
     border: 1px solid black;
}